  <h2>{{'Add New Fund' | translate}}</h2>
  <div class="container">
    <dx-form [formData]="newFund" [showColonAfterLabel]="true" [colCount]="2" >
      <dxi-item dataField="fundCode" [editorType]="'dxTextBox'" [editorOptions]="{ }">
        <dxo-label text="{{ 'Fund Code' | translate }}"></dxo-label>
      </dxi-item>
      <dxi-item dataField="fundName" [editorType]="'dxTextBox'" [editorOptions]="{ }">
        <dxo-label text="{{ 'Fund Name' | translate }}"></dxo-label>
      </dxi-item>
      <dxi-item dataField="fundType" [editorType]="'dxSelectBox'" [editorOptions]="{ dataSource: fundTypes, value: '' }">
        <dxo-label text="{{ 'Fund Type' | translate }}"></dxo-label>
      </dxi-item>
      <dxi-item dataField="riskLevel" [editorType]="'dxSelectBox'" [editorOptions]="{ dataSource: riskLevels, value: '' }">
        <dxo-label text="{{ 'Risk Level' | translate }}"></dxo-label>
      </dxi-item>
      <dxi-item dataField="transactionType" [editorType]="'dxSelectBox'" [editorOptions]="{ dataSource: transactionTypes, value: ''  }">
        <dxo-label text="{{ 'Transaction Type' | translate }}"></dxo-label>
      </dxi-item>
      <dxi-item dataField="nav" [editorType]="'dxNumberBox'" [editorOptions]="{ value: null }">
        <dxo-label text="{{ 'NAV' | translate }}"></dxo-label>
      </dxi-item>
      <dxi-item dataField="unit" [editorType]="'dxNumberBox'" [editorOptions]="{ value: null }">
        <dxo-label text="{{ 'Unit' | translate }}"></dxo-label>
      </dxi-item>
          </dx-form><br>
    
    <div class="button-container">
      <dx-button type="default" stylingMode="outlined" [text]="'Back' | translate" (onClick)="back()"></dx-button>
      <dx-button type="success" stylingMode="outlined" [text]="'Submit' | translate" (onClick)="onSubmit()"></dx-button>

    </div>
  </div>
